
.addUserWrapperCover{
    display: flex;
    justify-content: center;
}

.addUserWrapper{
    min-height: 340px;
    width: 100%;
    border: 2px solid #dddddd;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.addUserWrapperHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd;
}

input{
height: 30px;
width: 700px;
margin-top: 40px;
border: 2px solid #dddddd;
}

label{
    padding-right: 80px;
    color: rgb(75, 71, 71);
    font-weight: 600;
}

.buttonWrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right:240px;
}

.cancelButton,
.submitButton{
    margin-right: 15px;
}

.cancelButton{
    height: 30px;
    width: 80px;
    color: rgb(75, 71, 71);
    background-color: white;
    border-color: rgb(160, 157, 157);
    border-radius: 5px;
}

.submitButton{
    height: 30px;
    width: 80px;
    color: white;
    background-color: rgb(79, 184, 79);
    border: none;
    border-radius: 5px;
}


