.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  }

.modalContent{
width: 300px;
background-color: rgb(236, 230, 230);
}

.modalHeader,
.modalFooter{
    padding: 10px;
}

.modalTitle{
    margin: 0;
}

.modalBody{
padding: 10px;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}

.modalTitle{
  margin-left: -200px;
  color: rgb(75, 71, 71);
}

.deleteComment{
 color: rgb(75, 71, 71);
}

.modalFooter{
  display: flex;
  justify-content: flex-end;
}

.cancel,
.delete{
  margin-left: 6px;
  height: 30px;
  width: 60px;
}

.cancel{
  background-color: rgb(75, 71, 71);
  color: white;
  border: none;
  font-size: smaller;
  border-radius: 2px;
}

.delete{
background-color: rgb(250, 64, 64);
color: white;
border: none;
font-size: smaller;
border-radius: 2px;
}






